<!doctype html>
%html{class:"no-js", lang:"en-US"}
  %head
    %meta{charset: "utf-8"}
    %title Mark Edward Morga: R&eacute;sum&eacute;
    %style=File.read("style/resume.css")
  %body
    %article.h-resume
      %section.title.p-name
        %h1 Mark Edward Morga
        %address
          %ul.contact
            %li New Braunfels, Texas
            %li (830) 515-2286
            %li
              %a{href: "mailto:markmorga@gmail.com"} markmorga@gmail.com

      %section.summary.p-summary
        %header
          %h2 Professional Summary

        Senior Software Engineer & Principal Architect

      %section.history
        %header
          %h2 Work History

        %section.job
          %header
            %h3
              %span.company Rackspace Managed Hosting,
              %span.location San Antonio, Texas
              %span.dates 2004 — 2019
            .job-title Principal Architect
          %ul
            %li Architect of system to integrate and automate Sales to Provisioning of customer systems and services
            %li Architect modernization and expanded functionality of Run Book (monitoring, provisioning, patching) Automation system
            %li Contributed to Architecture Design and Documentation Process Standard
            %li Contributed to company RESTful API standards
            %li Implemented tooling to produce internal Architecture Documentation and ArchiMate diagram web site
            %li
              Member of Rackspace Principal Architect team
              %ul
                %li Evaluation of technologies for acquisition and/or implementation
                %li Establishment of standard Engineering Handbook of Standards and Practices
                %li Provide architectural oversight for efforts that span across multiple groups within the organization
            %li Implemented and maintained Customer Portal, DC Operations, Sales, and Support applications
            %li
              Produced & Presented classes in
              %ul
                %li Unit Testing class for C#, Python, and Ruby
                %li Ruby Programming including Introductory to Advanced Topics
                %li Use of the ArchiMate architecture modeling language
                %li Agile Development Methodology
            %li Design of several internal RESTful services

        %section.job
          %header
            %h3
              %span.company Foundstone, Inc.,
              %span.location San Antonio, Texas
              %span.dates 2002 — 2004
            .job-title Senior Software Engineer
          %ul
            %li Developed Foundscan commercial Vulnerability Assessment software components in C++, Java, and PHP as part of development team.
            %li Identified and integrated with cryptographic libraries for Java/C++ to encrypt Windows credentials.
            %li Implemented SOAP messaging between Java Applets and web server portal using kSOAP open source library.
            %li Implemented Swing based Java applets used to provide a rich user interface for the Foundscan web control panel.

        %section.job
          %header
            %h3
              %span.company Symantec, Inc.,
              %span.location San Antonio, Texas
              %span.dates 2002 — 2002
            .job-title Senior Software Engineer
          %ul
            %li Developed Commercial Host Intrusion Detection System for Windows and Solaris in C++/Java using the Extreme Programming methodology.
            %li Implemented distribution of Symantec LiveUpdate commands to client machines from system server.
            %li Implemented web management console user interface Applet plug-ins.

        %section.job
          %header
            %h3
              %span.company E-Spectrum Technologies, Inc.,
              %span.location San Antonio, Texas
              %span.dates 2000 — 2002
            .job-title Senior Development Analyst
          %ul
            %li Developed an aircraft availability estimation application for an Air Force maintenance contract. Application graphs number of impacted aircraft based on a database of equipment impact events, calculations of repair rates, and mean time between failures.
            %li Designed and developed a web-based system to monitor the status of and store the test results of remote test fixtures.
            %li Designed a Java application used to perform customer/manufacturer site evaluations using an XML based dynamically generated user interface.

        %section.job
          %header
            %h3
              %span.company USAA,
              %span.location San Antonio, Texas
              %span.dates 1997 — 2000
            .job-title IT/Systems Analyst
          %ul
            %li Served as Team Group Lead for a group of four developers.
            %li Developed an application used by representatives to suggest additional USAA services to customers.
            %li Maintained and enhanced several utility packages with C and COM interfaces in Visual Basic and C++ used by USAA application developers.
            %li Provided technical assistance, support and guidance for USAA developers, technical writers and representative trainers.

        %section.job
          %header
            %h3
              %span.company PhotoTelesis, Inc.,
              %span.location San Antonio, Texas
              %span.dates 1994 — 1997
            .job-title Software Engineer
          %ul
            %li Ported Windows based C++ communications software application to client/server application on the SunOs 4.1 platform.
            %li Designed and implemented audio switching and Virtual Keyboard applications for PhotoTelesis custom portable and pen-based PCs.
            %li Designed and Implemented Windows based Law Enforcement Relational Biographical Imagery Database Application in Visual Basic. Integrated with existing Communications/Imagery Application using OLE Automation, Visual Basic, and C++.

        %section.job
          %header
            %h3
              %span.company Lockheed Engineering & Sciences Co. (Lockheed-Martin),
              %span.location Austin, Texas
              %span.dates 1992 — 1994
            .job-title Computer Programmer, Associate
          %ul
            %li Designed and developed the Combat Service Support Training Simulation System (CSSTSS) as a member of the CSSTSS team.
            %li Implemented, from Specification, ADA Modules of the Advanced Tomahawk Weapons Control System (ATWCS).

        %section.job
          %header
            %h3
              %span.company Graham Laboratories,
              %span.location San Antonio, Texas
              %span.dates 1991 — 1994
            .job-title Contract Programmer
          %ul
            %li Developed Statistics and Graphics Display code in C for the MagiCalc application used by the Army Department of Surgical Research.

      %section.skills
        %header
          %h2 Skills
        %dl
          %dt Languages
          %dd Ruby, Python, OCaml, C++, Java, SQL, PHP, Perl, Visual Basic, ADA
          %dt Development Tools & Technologies
          %dd Ruby on Rails, Visual C++, MFC, GCC, CGI, Applets, Servlets, COM, Ant, xUnit, InstallSHIELD, PostgreSQL, Oracle, MySQL, SQL Server, DHTML, XML, SOAP, PHP
          %dt Operating Systems
          %dd Mac OS X, MS Windows 9x/NT/2000/XP Pro, Solaris, Linux

      %section.education
        %header
          %h2 Education

        Southwest Texas State University, San Marcos, Texas
        Bachelor of Science in Computer Science, 1992.
