body {
  background: #fff;
  color: #000;
  font-family: "Calibri";
  font-size: 11pt;
}

/* Links */

a:link {
  text-decoration: none;
  color: #002;
}

a:visited {
  color: #0f0;
}

a:hover {
  color: #f0f;
  text-decoration: underline;
}

a:active {
  color: #f03;
}

/* Headers */

h1 {
  color: #112481;
  font-size: 16pt;
  margin: 4pt auto 0.5em auto;
  text-align: left;
}

h2 {
  background: #fff;
  color: #112481;
  display: inline;
  font-size: 14pt;
  text-align: left;
}

h3 {
  display: inline;
  font-size: 13pt;
  text-align: left;
}

section {
  line-height: 14pt;
  margin: 1.25em 0 1em 0;
  text-align: left;
  width: 100%;
}

header {
  text-align: left ;
}

section.job header {
  text-align: left;
}

section.job {
  page-break-inside: avoid;
  /* page-break-after: avoid; */
  display: table;
}

section.skills, section.education {
  page-break-inside: avoid;
  display: table;
}

section.education {
  margin-bottom: 0;
  text-align: left;
}

section.title {
  border: 1pt solid white;
  margin-top: 0;
  text-align: left;
}

address {
  font-size: 13pt;
  font-style: normal;
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

ul.contact {
  text-align: center;
}

ul.contact li {
  display: inline;
}

ul.contact li:before {
  content: "\00B7 ";
}

.job-title {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 14pt;
  font-weight: bold;
}

.location {
  font-size: 90%;
  font-weight: normal;
}

.dates {
  float: right;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
  white-space: nowrap;
}
