body {
  background: #fff;
  color: #000;
  font-family: "Calibri";
  font-size: 11pt;
}

/* Links */

a:link {
  text-decoration: none;
  color: #002;
}

a:visited {
  color: #0f0;
}

a:hover {
  color: #f0f;
  text-decoration: underline;
}

a:active {
  color: #f03;
}

/* Headers */

h1 {
  color: #112481;
  font-size: 16pt;
  margin: 4pt auto 0.5em auto;
}

h2 {
  color: #112481;
  display: inline;
  font-size: 14pt;
}

h3 {
  display: inline;
  font-size: 12pt;
  font-weight: normal;
}

section {
  line-height: 14pt;
  margin: 1.25em 0 1em 0;
  page-break-inside: avoid;
  text-align: left;
  width: 100%;
}

section > header {
  border-bottom: 1px solid #112481;
}

section.job > header {
  border-bottom: 0;
}

section.title {
  margin-top: 0;
}

address {
  font-size: 13pt;
  font-style: normal;
  margin-bottom: 0.5em;
}

section.history {
  page-break-inside: auto;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  padding-left: 1em;
}

.job-title {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 14pt;
  font-weight: bold;
}

.location {
  font-size: 90%;
  font-weight: normal;
}

.dates {
  float: right;
  font-size: 90%;
  font-style: italic;
  font-weight: normal;
  white-space: nowrap;
}
